:root {
  --pink: #f14e95;
  --bg: #0a0a0a;
  --shadow: 0 1px 5px rgb(0 0 0 / 1);
}

body {
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  min-height: 2000px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/prewedd.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  z-index: -1;
  filter: grayscale(50%);
}

.hero {
  position: relative;
  min-height: 100vh;
}

.hero h1 {
  font-family: "Sacramento", cursive;
  font-size: 6rem;
}

.hero h4 {
  font-size: 1.6rem;
}

.hero p {
  font-size: 1.4rem;
}

.hero h1,
.hero h4,
.hero p {
  text-shadow: var(--shadow);
}

.hero a {
  background-color: white;
  color: var(--pink);
  box-shadow: 0 5px 5px rgb(0 0 0 / 1);
}

.hero a:hover {
  background-color: var(--pink);
  color: white;
}

.mynavbar {
  background-color: rgba(255, 255, 255, 0.2) !important;
  backdrop-filter: blur(4px);
}
.mynavbar .offcanvas {
  height: 100vh;
}
.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-family: "Sacramento", cursive;
  font-size: 2.5rem;
  font-weight: bold;
}

.mynavbar .nav-link {
  text-transform: uppercase;
}

.home {
  background-image: url(img/bg-home.jpg);
  background-size: cover;
  min-height: 100vh;
  margin-top: ;
  padding-top: ;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.home h2,
.story h2,
.gallery h2,
.rsvp h2,
.gifts h2 {
  color: var(--pink);
  font-size: 3rem;
  font-family: "Sacramento", cursive;
  font-weight: bold;
}
.home h3 {
  color: #444;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.home .row .row h3 {
  font-family: "Sacramento", cursive;
  color: var(--pink);
  font-weight: bold;
  font-size: 3rem;
}
.home .row .row p {
  font-size: 1rem;
}
.info {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.info .row a {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.info .row h2 {
  font-family: "sacramento";
  color: var(--pink);
  font-weight: bold;
  font-size: 4rem;
}
.info .row span {
  width: 250px;
  height: 250px;
}
.info .row .map iframe{
  border: solid 1px var(--pink) !important;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.info .row .btn {
  background-color: var(--pink);
  color: rgb(240, 240, 240);
  padding-bottom: none;
  box-shadow: var(--shadow);
}
.info .row .card {
  background-color: var(--pink);
  color: rgb(240, 240, 240);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.info .row .card .card-body {
  background-color: rgb(240, 240, 240);
  color: rgb(0, 0, 0);
}
.story,
.gallery,
.rsvp,
.gifts {
  padding-top: 10rem;
  padding-bottom: 8rem;
}
.story span,
.gallery span,
.gifts span {
  text-transform: uppercase;
  color: #666;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
}
.story p,
.gallery p,
.rsvp p,
.gifts p {
  font-size: 1rem;
}
.timeline {
  list-style: none;
  padding: 1.4rem 0;
  margin-top: 1rem;
  position: relative;
}
.timeline::before {
  content: " ";
  top: 0;
  bottom: 0;
  position: absolute;
  width: 1px;
  background-color: var(--pink);
  left: 50%;
}
.timeline li {
  margin-bottom: 2rem;
  position: relative;
}
.timeline li::before,
.timeline li::after {
  content: "";
  display: table;
}

.timeline li::after {
  clear: both;
}

.timeline li .timeline-image {
  width: 160px;
  height: 160px;
  background-color: #ccc;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.timeline li .timeline-panel {
  width: 40%;
  float: left;
  border: 1px solid #ccc;
  padding: 2rem;
  position: relative;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.timeline li .timeline-panel::before {
  content: "";
  display: inline-block;
  position: absolute;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0px solid #ccc;
  border-bottom: 15px solid transparent;
  top: 70px;
  right: -15px;
}
.timeline li .timeline-panel::after {
  content: "";
  display: inline-block;
  position: absolute;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0px solid #ccc;
  border-bottom: 14px solid transparent;
  top: 70px;
  right: -13px;
}
.timeline .timeline-inverted .timeline-panel {
  float: right;
}
.timeline .timeline-inverted .timeline-panel::before {
  border-top: 15px solid transparent;
  border-left: 0px solid #ccc;
  border-right: 15px solid #ccc;
  border-bottom: 15px solid transparent;
  top: 70px;
  left: -15px;
  right: auto;
}
.timeline .timeline-inverted .timeline-panel::after {
  border-left: 0px solid #fff;
  border-right: 14px solid #fff;
  top: 70px;
  left: -13px;
  right: auto;
}

.row .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}
.modal .content .mySlides img{
  width: 90%;
  height: 236px;
}

/* The Close Button */
.close {
  color: black;
  position: absolute;
  top: 10%;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  z-index: 9;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
.modal .demo-list {
  margin-bottom: -4px;
  display: flex;
  width: 300px;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rsvp button {
  background-color: var(--pink);
  color: white;
  border: 1px solid var(--pink);
}
.rsvp button:hover {
  background-color: white;
  color: var(--pink);
  border: 1px solid var(--pink);
}

footer {
  padding: 3rem;
  background-color: var(--pink);
  color: white;
}
footer a {
  text-decoration: none;
  font-weight: bold;
  color: var(--bg);
}
footer a:hover {
  color: white;
}

.icon-audio .bi-play-circle {
  width: 4rem;
  height: 4rem;
  font-size: 3rem;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  color: white;
  mix-blend-mode: difference;
  animation: rotating 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}
.icon-audio .bi-pause-circle {
  width: 4rem;
  height: 4rem;
  font-size: 3rem;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  color: white;
  mix-blend-mode: difference;
  /* animation: rotating 4s linear infinite; */
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;

}


@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* media query */
/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
  .simply-countdown > .simply-section {
    padding: 50px;
    margin: 15px;
  }
  .timeline::before {
    width: 0px;
  }
  .timeline li {
    margin-bottom: 2.5rem;
  }
  .timeline .timeline-inverted .timeline-image {
    left: 90px;
  }
  .timeline li .timeline-image {
    left: 87%;
  }
  .timeline li .timeline-panel {
    width: calc((100% - 200px));
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
  .simply-countdown > .simply-section {
    padding: 40px;
    margin: 10px;
  }
  .mynavbar .nav-link {
    text-transform: uppercase;
    text-align: center;
  }
  .sticky-top {
    overflow: hidden;
  }
  .timeline li .timeline-image {
    width: 130px;
    height: 130px;
  }
  .timeline .timeline-inverted .timeline-image {
    left: 70px;
  }
  .timeline li .timeline-panel::before {
    top: 40px;
  }
  .timeline li .timeline-panel::after {
    top: 40px;
  }
  .timeline .timeline-inverted .timeline-panel::before {
    top: 40px;
  }
  .timeline .timeline-inverted .timeline-panel::after {
    top: 40px;
  }
  .timeline li .timeline-panel {
    width: calc((100% - 170px));
  }
}

/* mobile */
@media (max-width: 576px) {
  html {
    font-size: 55%;
  }
  .simply-countdown > .simply-section {
    padding: 30px;
    margin: 5px;
  }
  .timeline li .timeline-panel {
    width: calc((100% - 130px));
  }
  .timeline .timeline-inverted .timeline-image {
    left: 50px;
  }
  .timeline li .timeline-image {
    width: 100px;
    height: 100px;
  }
}
