:root {
  --pink: #f14e95;
  --bg: #0a0a0a;
  --shadow: 0 1px 5px rgb(0 0 0 / 1);
}

body {
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  min-height: 2000px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/prewedd.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  z-index: -1;
  filter: grayscale(50%);
}

.hero {
  position: relative;
  min-height: 100vh;
}

.hero h1 {
  font-family: "Sacramento", cursive;
  font-size: 6rem;
}

.hero h4 {
  font-size: 1.6rem;
}

.hero p {
  font-size: 1.4rem;
}

.hero h1,
.hero h4,
.hero p {
  text-shadow: var(--shadow);
}

.hero a {
  background-color: white;
  color: var(--pink);
  box-shadow: 0 5px 5px rgb(0 0 0 / 1);
}

.hero a:hover {
  background-color: var(--pink);
  color: white;
}

.mynavbar {
  background-color: rgba(255, 255, 255, 0.2) !important;
  backdrop-filter: blur(4px);
}
.mynavbar .offcanvas {
  height: 100vh;
}
.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-family: "Sacramento", cursive;
  font-size: 2.5rem;
  font-weight: bold;
}

.mynavbar .nav-link {
  text-transform: uppercase;
}
.salam_pembuka {
  background-image: url(img/bg-home.jpg);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}
.salam_pembuka .cat {
  position: absolute;
  bottom: -30px;
  left: -30px;
}
.salam_pembuka .cat img {
  width: 200px;
  height: 200px;
}
.salam_pembuka .salam p {
  font-size: 1.5rem;
}
.salam_pembuka h2 {
  font-weight: bold;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}
.salam_pembuka .hadist {
  border: solid 1px var(--pink);
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 20px;
}
.salam_pembuka .nama_catin {
  padding-top: 2rem;
}
.salam_pembuka .nama_catin h2 {
  color: var(--pink);
  font-size: 4rem;
  font-family: "Sacramento", cursive;
  font-weight: bold;
}

.home {
  background-image: url(img/bg.rose.jpg);
  background-size: cover;
  min-height: 100vh;
  margin-top: ;
  padding-top: ;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.home h2,
.story h2,
.gallery h2,
.rsvp h2,
.penutup h2 {
  color: var(--pink);
  font-size: 3rem;
  font-family: "Sacramento", cursive;
  font-weight: bold;
}
.home h3 {
  color: #444;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.home .row .row h3 {
  font-family: "Sacramento", cursive;
  color: var(--pink);
  font-weight: bold;
  font-size: 3rem;
}
.home .row .row p {
  font-size: 1rem;
}
.home .row img {
  box-shadow: var(--shadow);
  background-image: url(img/bg.rose.jpg);
  background-size: cover;
}
.info,
.penutup {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffc0cb;
}
.info .row a {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.info .row h2 {
  font-family: "sacramento";
  color: var(--pink);
  font-weight: bold;
  font-size: 4rem;
}
.info .row span {
  width: 250px;
  height: 250px;
}
.info .row .map iframe {
  border: solid 1px var(--pink) !important;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.info .row .btn {
  background-color: var(--pink);
  color: rgb(240, 240, 240);
  padding-bottom: none;
  box-shadow: var(--shadow);
}
.info .waktu-acara .akad {
  background-image: url(img/bg-waktu.jpeg);
  background-size: cover;
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-radius:5px;
  
}
.info .waktu-acara .card-header{
  font-family: "sacramento";
  color: var(--pink);
  font-weight: bold;
  font-size: 3rem;
}
.info .waktu-acara .card-body h3 {
  font-size: 2rem;
  color: #6d6d6d;
}
.story,
.gallery,
.rsvp,
.gifts {
  padding-top: 10rem;
  padding-bottom: 8rem;
}
.story span,
.gallery span,
.penutup span {
  text-transform: uppercase;
  color: #666;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
}
.story p,
.gallery p,
.rsvp p,
.penutup p {
  font-size: 1rem;
}
.qoute {
  background-image: url(img/concrete-wall-texture-abstract.jpg);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}
.qoute .bridgeCouple{
  position: absolute;
  bottom: -20px;
  left: 0px;
}
.qoute .bridgeCouple img{
  width: 220px;
  height: 220px;
}
.qoute .cats {
  position: absolute;
  bottom: -20px;
  right: 0px;
}
.qoute .cats img{
  width: 180px;
  height: 200px;
}
.qoute .hadist {
  border: solid 3px #61312d;
  border-radius: 5px;
  padding: 3rem;
  position: relative;
  background-color: #ffffff;
  color: rgb(97,49,49);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.qoute .hadist img {
  position: absolute;
  width: 200px;
  height: 200px;
  top: -145px;
  right: 50px;
}

.rsvp form {
  width: 60%;
  margin-bottom: 3rem;
}
.rsvp button {
  background-color: var(--pink);
  color: white;
  border: 1px solid var(--pink);
}
.rsvp button:hover {
  background-color: white;
  color: var(--pink);
  border: 1px solid var(--pink);
}
.rsvp .salam_penutup {
  font-weight: bold;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  margin-top: 2rem;
  color: black;
}
.penutup img {
  width: 249px;
  height: 250px;
  margin-bottom: 2rem;
  padding-left: 10px;
}

footer {
  padding: 3rem;
  background-color: var(--pink);
  color: white;
}
footer span i {
  color: red;
}
footer a {
  text-decoration: none;
  font-weight: bold;
  color: var(--bg);
}
footer a:hover {
  color: white;
}

.icon-audio .bi-play-circle {
  width: 4rem;
  height: 4rem;
  font-size: 3rem;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  color: white;
  mix-blend-mode: difference;
  animation: rotating 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}
.icon-audio .bi-pause-circle {
  width: 4rem;
  height: 4rem;
  font-size: 3rem;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  color: white;
  mix-blend-mode: difference;
  /* animation: rotating 4s linear infinite; */
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* media query */
/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
  .simply-countdown > .simply-section {
    padding: 50px;
    margin: 15px;
  }
  .timeline::before {
    width: 0px;
  }
  .timeline li {
    margin-bottom: 2.5rem;
  }
  .timeline .timeline-inverted .timeline-image {
    left: 90px;
  }
  .timeline li .timeline-image {
    left: 87%;
  }
  .timeline li .timeline-panel {
    width: calc((100% - 200px));
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
  .simply-countdown > .simply-section {
    padding: 40px;
    margin: 10px;
  }
  .mynavbar .nav-link {
    text-transform: uppercase;
    text-align: center;
  }
  .sticky-top {
    overflow: hidden;
  }
  .timeline li .timeline-image {
    width: 130px;
    height: 130px;
  }
  .timeline .timeline-inverted .timeline-image {
    left: 70px;
  }
  .timeline li .timeline-panel::before {
    top: 40px;
  }
  .timeline li .timeline-panel::after {
    top: 40px;
  }
  .timeline .timeline-inverted .timeline-panel::before {
    top: 40px;
  }
  .timeline .timeline-inverted .timeline-panel::after {
    top: 40px;
  }
  .timeline li .timeline-panel {
    width: calc((100% - 170px));
  }
  .rsvp .row form {
    padding: 0px 50px 0px 50px;
  }
}

/* mobile */
@media (max-width: 576px) {
  html {
    font-size: 55%;
  }
  .simply-countdown > .simply-section {
    padding: 30px;
    margin: 5px;
  }
  .timeline li .timeline-panel {
    width: calc((100% - 130px));
  }
  .timeline .timeline-inverted .timeline-image {
    left: 50px;
  }
  .timeline li .timeline-image {
    width: 100px;
    height: 100px;
  }
}
